
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            overflow-x: hidden;
        }

        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            scroll-behavior: smooth;
        }

        a {
            color: #ff5733;
            text-decoration: none;
            transition: color 0.3s ease, text-decoration 0.3s ease;
        }

        a:hover {
            color: #ff5733;
            text-decoration: underline;
        }
        
        a.hero {
            display: inline-block;
            padding: 10px 20px;
            background: #ff5733;
            color: white;
            text-decoration: none;
            font-size: 1rem;
            border-radius: 5px;
            transition: background 0.3s;
            font-weight: bold;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.7); /* Výraznìjší èerný stín pod cenovkou */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
        }

        a.hero:hover {
            background: #c13c24;
        }

a.hero.blue {background: #0A7FE7;}
a.hero.blue:hover {background: #000;}

a.hero.purple {background: #B230B1;}
a.hero.purple:hover {background: #000;}

a.hero.green {background: #27B03C;}
a.hero.green:hover {background: #000;}

a.hero.red {background: #C91E1E;}
a.hero.red:hover {background: #000;}

a.hero.yellow {background: #FCC324;}
a.hero.yellow:hover {background: #000;}

        .section {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            padding: 40px;
            position: relative;
            text-align: center;
            background-size: cover;
            background-position: center;
        }

        .section::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            z-index: 1; /* Z-index pro záclonu, aby byl pod obrázkem a textem */
        }

        .section-content {
            position: relative;
            z-index: 2;
            color: white;
            max-width: 800px;
            text-align: left;
        }

        .product {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            position: relative;
            z-index: 3;
        }

        .product-text {
            max-width: 50%;
            position: relative;
            z-index: 2; /* Text bude pod obrázkem */
        }

        .product h1 {
            font-size: 2.5rem;
            margin-bottom: 10px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
        }

        .product p {
            font-size: 1.2rem;
            margin: 10px 0;
        }

        .product img {
            width: 90%;
            height: auto;
            display: block;
            margin: 0 auto;
            z-index: 4; /* Obrázek bude nad textem */
            cursor: pointer; /* Klikací kurzor */
            transition: transform 0.3s ease, box-shadow 0.3s ease; /* Plynulý efekt */
        }

        .product img:hover {
            transform: scale(1.0); /* Zvìtšení obrázku pøi najetí */
        }
        
        footer {
    background-color: #C03C24;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    font-size: 0.8rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

        footer a {
            color: #fff;
            text-decoration: underline;
        }

        footer a:hover {
            text-decoration: none;
        }

.product-container {
    position: relative; /* Rodièovský element s pozicováním pro absolutní pozicování cenovky */
    display: inline-block; /* Umožní obrázku i cenovce být v øadì */
    z-index: 3; /* Umožní cenovce být nad obrázkem */
    overflow: hidden; /* Skryje posuvníky pøi zvìtšení obrázku */
}

.product-container img {
    display: block;
    width: 100%; /* Umožòuje, že obrázek bude responsivní */
    max-width: 600px; /* Maximální šíøka obrázku */
    min-width: 300px; /* Maximální šíøka obrázku */
    z-index: 2; /* Umožní cenovce být nad obrázkem */
}

.price-tag {
    position: absolute;
    top: 25px; /* Umístìní v horní èásti */
    left: 10px; /* Umístìní v levé èásti */
    transform: rotate(-10deg); /* Mírná rotace cenovky */
    background-color: rgba(0, 0, 0, 0.8); /* Tmavší èervené pozadí */
    color: white;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    z-index: 2; /* Umožní cenovce být nad obrázkem */
    white-space: nowrap; /* Zabrání textu se zalamovat */
    border: 1px solid black; /* Èerný obrys */
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.7); /* Výraznìjší èerný stín pod cenovkou */
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}

@keyframes pulse {
    0% { transform: scale(1) rotate(-10deg); }
    50% { transform: scale(1.05) rotate(-10deg); }
    100% { transform: scale(1) rotate(-10deg); }
}

.price-tag.discount {
    background-color: rgba(210, 0, 0, 0.8); /* Pøíklad zmìny pozadí pro slevu */
    animation: pulse 2s infinite;
}

@media (max-width: 768px) {
    .product {
                flex-direction: column;
                text-align: center;
        padding-top: 60px; /* Zvýšení odsazení od zhora */
            }

    .product img {
                max-width: 80%;
                margin-top: 20px;
            }
    .product-text {
        max-width: 100%; /* Na mobilních zaøízeních text zabírá celou šíøku */
        padding: 0 10px; /* Pøidáme nìjaké odsazení, aby text nebyl pøímo u okrajù */
        text-align: left; 
    }

    .product h1 {
        font-size: 1.8rem; /* Mírnì zmenšíme nadpis pro mobilní zobrazení */
    }

    .product p {
        font-size: 1rem; /* Zmenšíme velikost textu pro mobilní zobrazení */
    }
}

/* Styl pro horní lištu s menu */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Prùhledné pozadí */
    padding: 10px 20px;
    z-index: 100;
    display: flex;
    justify-content: center; /* Odkazy se øadí na støed */
    align-items: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}

.navbar a {
    color: #fff;
    font-size: 1rem;
    margin: 0 15px;
    font-weight: bold;
}

.navbar a:hover {
    color: #fff;
}

.navbar .donate {
    color: #FCC82F;
}

.navbar .donate:hover {
    color: #FCC82F;
}

/* Styl pro overlay */
.overlay {
    position: fixed;
    top: 45px; /* Vzdálenost pod navbar */
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Prùhledné pozadí */
    display: none;
    justify-content: flex-start; /* Obsah vyrovnán k vrchu */
    align-items: flex-start;
    z-index: 99;
    color: white;
    text-align: justify;
    font-size: 1.2rem;
    padding: 20px;
    box-sizing: border-box;
    min-height: calc(100vh - 45px); /* Omezí výšku na 95% okna minus výška navbara */
    overflow-y: auto; /* Povolení scrollování pouze v overlay */
    transition: max-height 0.3s ease-in-out;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(20px); /* Rozmazání pozadí pod overlay */
}

.overlay-content {
    position: relative;
    padding: 20px;
    margin-bottom: 40px;
    max-width: 100%;
    max-height: 90vh;  /* Omezuje maximální výšku na 80% výšky okna */
    overflow-y: auto; /* Povolení scrollování uvnitø overlay */
}

.overlay-content::-webkit-scrollbar {
    display: none; /* Skrytí scrollbar */
}

.overlay-content {
    -ms-overflow-style: none;  /* Pro IE a Edge */
    scrollbar-width: none; /* Pro Firefox */
}

#overlay-text {
    max-width: 100%;
    padding-bottom: 20px;
}

#overlay h1 {
    font-size: 2.5rem;
    color: white;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.9);
}

.close-overlay {
    position: absolute; /* Umístìní relativní k overlay */
    top: 8px; /* Vzdálenost od horního okraje */
    right: 20px; /* Vzdálenost od pravého okraje */
    font-size: 3.5rem; /* Velikost køížku */
    color: white; /* Barva køížku */
    background-color: transparent; /* Prùhledné pozadí */
    border: none; /* Žádné ohranièení */
    cursor: pointer; /* Ukazatel na ruku pøi najetí */
    z-index: 100; /* Nad ostatní obsah overlay */
    transition: transform 0.3s ease, color 0.3s ease; /* Animace pro hover efekt */
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.9);
}

.close-overlay:hover {
    color: #ff5733; /* Zmìna barvy pøi najetí */
    transform: scale(1.2); /* Zvýraznìní pøi najetí */
}

.products-table {
    display: grid;
    grid-template-columns: 1fr; /* Na mobilu bude jeden produkt na øádek */
    gap: 20px; /* Mezera mezi produkty */
    padding-bottom: 40px;
    padding-top: 20px;
}

/* Pro desktop - 2 produkty vedle sebe */
@media (min-width: 900px) {
    .products-table {
        grid-template-columns: 1fr 1fr; /* Dva produkty vedle sebe */
    }
}

.products-item {
    display: flex; /* Flexbox pro zarovnání */
    justify-content: space-between; /* Rozdìlení na dvì èásti: text a obrázek */
    align-items: center; /* Vertikální zarovnání */
    background-color: rgba(0, 0, 0, 0.3); /* Prùhledné pozadí */
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Efekt pøi hover */
    text-decoration: none; /* Zajištìní, že odkazy nebudou mít podtržení */
    position: relative;
}

.products-item:hover {
    background-color: rgba(180, 0, 0, 0.3); /* Prùhledné pozadí */
    transform: translateY(-5px); /* Lehký posun nahoru pøi hover */
    text-decoration: none; /* Zajištìní, že odkazy nebudou mít podtržení */
}

.products-item:focus,
.products-item:hover {
    outline: none; /* Zamezení vykreslování rámeèku pøi focus */
}

.products-text {
    flex: 1; /* Zajistí, že text zabere co nejvíc místa */
}

.products-title {
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
}

.products-description {
    font-size: 1rem;
    color: #fff;
    margin-right: 20px;
}

.products-image img {
    max-width: 200px;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.products-group {
    position: absolute; /* Umístíme cenu do buòky */
    top: 2px;  /* Umístìní ceny na spodní okraj buòky */
    left: 0px;    /* Vzdálenost od levého okraje */
    font-size: 0.6rem;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.products-price {
    position: absolute; /* Umístíme cenu do buòky */
    bottom: 10px;  /* Umístìní ceny na spodní okraj buòky */
    right: 10px;    /* Vzdálenost od levého okraje */
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.7); /* Polotransparentní tmavé pozadí pro lepší èitelnost */
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.products-price.discount {
    background-color: rgba(240, 0, 0, 0.7); /* Polotransparentní tmavé pozadí pro lepší èitelnost */
}

#rss-feed {
    margin-top: 20px;
    background-color: none;
}

#rss-list {
    list-style: none;
    padding: 0;
}

#rss-list li {
    margin-bottom: 10px;
    font-size: 1.0rem;
}

#rss-list a {
    text-decoration: none;
    color: #ff5733;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}

#rss-list a:hover {
    text-decoration: underline;
}

#rss-list .date {
    color: #fff;
    font-size: 0.8rem;
}

